{% extends 'base.html.twig' %}

{% block body %}

    <h2>About</h2>

    <br/>

    <div class="row">
        <div class="col-lg-6">
            <div class="bg-success" style="padding:20px; border-radius: 10px; border: 1px;">
                <strong>Info:</strong>
                <br/>
                <br/>

                This service is a proof-of-concept and provides an overview and search function for SHACL shapes. Currently, data gathered manually from <a href="https://github.com/schreckl/rules">https://github.com/schreckl/rules</a>. 
            </div>
        </div>
        <div class="col-lg-6">
            <div class="bg-success" style="padding:20px; border-radius: 10px; border: 1px;">
                <strong>Repository:</strong>
                <br/>
                <br/>

                The code of this service can be found at: <a href="https://github.com/schreckl/service">https://github.com/schreckl/service</a>
                <br/>
                <br/>
            </div>
        </div>
    </div>

{% endblock %}
